<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Convênios [Detalhe]</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="cadastrarCategoria(); $event.preventDefault()">
        <ion-input formControlName="id" type="text" hidden></ion-input>

      <ion-item>
        <ion-label stacked>Nome*</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['nome'].dirty && formGroup.controls['nome'].errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>CNPJ*</ion-label>
        <ion-input formControlName="cnpj" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['cnpj'].dirty && formGroup.controls['cnpj'].errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>Razão Social*</ion-label>
        <ion-input formControlName="razaoSocial" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['razaoSocial'].dirty && formGroup.controls['razaoSocial'].errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>Registro ANS*</ion-label>
        <ion-input formControlName="registroANS" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['registroANS'].dirty && formGroup.controls['registroANS'].errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>Código CNS*</ion-label>
        <ion-input formControlName="codigoCNS" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['codigoCNS'].dirty && formGroup.controls['codigoCNS'].errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>Telefone*</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['telefone'].dirty && formGroup.controls['telefone'].errors" margin-left>Valor inválido</p>
      <ion-item>
          <ion-label stacked>Período de Retorno*</ion-label>
          <ion-input formControlName="periodoRetorno" type="text"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls['periodoRetorno'].dirty && formGroup.controls['periodoRetorno'].errors" margin-left>Valor inválido</p>
        <button ion-button block type="submit" [disabled]="formGroup.invalid">Salvar</button>
    </form>
  </ion-content>
